// 변수 설정

$white: #fff;
$black: #000;

// ## Primary colors
$primary: #111;

// # Secondary colors
$secondary: #003675;

// Grayscale
$gray-0: #ffffff; 
$gray-5: #f8f8f8; // background
$gray-10: #f0f0f0; // background
$gray-20: #e4e4e4; // disabled
$gray-30: #d8d8d8;
$gray-40: #c6c6c6; // border
$gray-50: #9d9d9d; // sns icon / 연한 gray
$gray-60: #717171; // 입력창 기본 상태
$gray-70: #dbdbdb40; // btn background
$gray-80: #2d2d2d;
$gray-90: #1d1d1d; // text-title
$gray-100: #000000; // background-base

// background-translate
$background-translate-0:rgba(255, 255, 255, 0.00); //translate
$background-translate-10:rgba(255, 255, 255, 0.12); //--background-color-translate1
$background-translate-90:rgba(000 , 000, 000, 0.45); // --background-color-translateBlack main.page-menubackground

//blur
$blur-20:blur(20px);
// font-style

$font-family-chanel: "chanel", sans-serif !default;
$font-family-base: "Noto Sans KR", sans-serif !default;
$font-size-root: 62.5% !default; //10px 1rem으로 설정
$font-size-base: 1.7rem !default;
$font-color-base: $gray-90 !default;
$font-weight-base: 400 !default;

//font weight
$font-light: 300 !default;
$font-normal: 400 !default;
$font-medium: 500 !default;
$font-bold: 700 !default;
$font-bolder: 800 !default;

//line height style
$line-height-none: 1 !default;
$line-height-base: 1.5 !default;

// layout
$grid: 1340px !default; // 1280px + 30 + 30 = 1340px
$p-tablet: 30px !default;
$p-mobile: 20px !default;

$hdH: 60px;
$hdH-xl: 80px;

$ftH: 70px;

//breakpoints
$breakpoint-sm: 600px !default;
$breakpoint-md: 1024px !default;
$breakpoint-lg: 1920px !default;
