@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@font-face {
  font-family: "chanel";
  font-style: normal;
  font-weight: normal;
  src: local("Couture Bold"), url("couture-bld.woff") format("woff");
}
:root {
  --font-color-black:#000;
  --font-color-white:#fff;
  --font-color-lightgray:#9d9d9d;
  --background-color-translate1:rgba(255, 255, 255, 0.12);
  --background-color-gray:#1F1F1F;
  --background-color-black:#000;
  --background-color-translateBlack: rgba(000 , 000, 000, 0.45);
  --background-color-translate:translate;
}

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: var(--font-color-black);
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
  background-color: #000;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #e4e4e4;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif;
  color: #1d1d1d;
  font-weight: 400;
}

a {
  color: #1d1d1d;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  a {
    color: #1d1d1d;
    text-decoration: none;
  }
  a:active, a:hover {
    text-decoration: underline;
  }
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #1d1d1d;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

:root {
  --swiper-theme-color: red;
}

.bg-gray {
  background-color: #f8f8f8;
}

.sec-g {
  overflow: hidden;
  padding: 10vw 0;
}
.sec-g__tit {
  padding-bottom: 2.34375vw;
  font-size: 3rem;
}
.sec-g__more {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 17px;
  right: 20px;
  font-size: 2rem;
}
@media (min-width: 600px) {
  .sec-g__more {
    right: 30px;
  }
}
.sec-g__more::after {
  content: "\f061";
  font-family: "Line Awesome Free";
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #e4e4e4;
  border-radius: 50%;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  display: none;
}
.swiper .swiper-button-next::before,
.swiper .swiper-button-prev::before {
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
  color: #000;
  opacity: 0.5;
}
.swiper .swiper-button-next::before {
  content: "\f138";
}
.swiper .swiper-button-prev::before {
  content: "\f137";
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
  color: var(--font-color-black);
}
@media (min-width: 600px) and (max-width: 1023px) {
  .inner {
    padding: 0 30px;
  }
}

#skip-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  text-align: center;
  background-color: #1d1d1d;
}
#skip-nav a:not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
#skip-nav a:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  outline-offset: -0.4rem;
  outline: 2px solid #111;
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
  height: 3.2rem;
  margin: 0 auto;
  text-align: center;
}
#skip-nav.type1 {
  background-color: #fff;
}
#skip-nav.type1 a:focus {
  color: #1d1d1d;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
}
#header.active::before {
  height: 218px;
}
#header.active .gnb__depth2 {
  height: 218px;
  padding: 30px 0;
}
#header::before {
  content: "";
  position: absolute;
  top: 102px;
  left: 0;
  right: 0;
  height: 0;
  background: var(--background-color-translate);
  transition: all 0.3s;
}
#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: none;
  height: 73px;
}
@media (min-width: 1024px) {
  #header .inner {
    height: auto;
  }
}
#header #logo a {
  width: 100%;
  height: 100%;
  color: var(--font-color-black);
  font-family: "chanel";
  font-size: 2.1875rem;
  letter-spacing: 0.25rem;
}
#header #logo span {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

#gnb {
  display: none;
  position: relative;
}
@media (min-width: 1024px) {
  #gnb {
    display: block;
  }
}
#gnb .gnb__depth1 {
  display: flex;
}
#gnb .gnb__depth1 > li {
  position: relative;
}
#gnb .gnb__depth1 > li:hover > a > span {
  color: #111;
}
#gnb .gnb__depth1 > li:hover > a > span::after {
  width: 100%;
}
#gnb .gnb__depth1 > li:first-child .gnb__depth2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: var(--background-color-translate);
}
#gnb .gnb__depth1 > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 102px;
  padding: 0 50px;
  font-size: 1.8rem;
}
#gnb .gnb__depth1 > li > a:hover {
  text-decoration: none;
}
#gnb .gnb__depth1 > li > a span {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
#gnb .gnb__depth1 > li > a span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #111;
  transition: all 0.3s;
}
#gnb .gnb__depth2 {
  overflow: hidden;
  position: absolute;
  top: 102px;
  left: 0;
  right: 0;
  height: 0;
  padding: 0;
  background: #f8f8f8;
  transition: all 0.3s;
}
#gnb .gnb__depth2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
}
#gnb .gnb__depth2 a {
  display: block;
  padding: 7px 0;
  text-align: center;
  color: rgba(219, 219, 219, 0.2509803922);
}
#gnb .gnb__depth2 a:hover {
  font-weight: 700;
  color: #1d1d1d;
}

.util {
  display: flex;
  gap: 15px;
}
.util .lang {
  display: none;
  position: relative;
}
@media (min-width: 1024px) {
  .util .lang {
    display: block;
  }
}
.util .lang.active .lang__btn::after {
  content: "\f106";
  font-family: "Line Awesome Free";
  font-weight: 900;
}
.util .lang.active .lang__lst {
  display: block;
}
.util .lang__btn {
  height: 57px;
  margin-right: 10px;
  text-transform: uppercase;
}
.util .lang__btn::after {
  content: "\f107";
  font-family: "Line Awesome Free";
  font-weight: 900;
  margin-left: 5px;
  color: var(--font-color-black);
}
.util .lang__lst {
  display: none;
  position: absolute;
  top: 52px;
  left: 0;
  width: 90%;
  border: 1px solid #c6c6c6;
  background: #fff;
  text-align: center;
}
.util .lang__lst li {
  padding: 5px 0;
  text-transform: uppercase;
  color: var(--font-color-black);
}
.util .lang__lst li:first-child {
  border-bottom: 1px solid #c6c6c6;
}
.util .search {
  transform: scaleX(-1);
}
.util .search::before {
  content: "\f002";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
}
.util .all-menu::before {
  content: "\f0c9";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
}

#nav-all {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.3s;
}
#nav-all.active {
  display: block;
  left: 0;
}

.main {
  overflow: hidden;
  width: 100%;
  height: 690px;
  flex-shrink: 0;
  position: relative;
}
.main .main-img {
  position: relative;
}
.main .main-img img {
  width: 100%;
  height: 690px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}
.main .main-img::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background: linear-gradient(180deg, rgba(103, 103, 103, 0.04), rgba(201, 196, 196, 0.03), #000 95.89%);
}
.main .mercury {
  position: absolute;
  top: 70%;
  display: flex;
}
.main .m-tit {
  font-size: 12.9rem;
  font-family: chanel;
  color: white;
  white-space: nowrap;
  animation: m-tit 10s linear infinite;
}
@keyframes m-tit {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.desc-title {
  padding: 0 20px;
  margin: 10px 0 0 0;
  color: var(--font-color-white);
  overflow: hidden;
}
.desc-title .txt-s,
.desc-title .txt-m,
.desc-title .txt-l {
  opacity: 0;
  transform: translateY(10px);
  transition: transform 0.8s ease, opacity 0.7s ease;
}
.desc-title.visible .txt-s,
.desc-title.visible .txt-m,
.desc-title.visible .txt-l {
  opacity: 1;
  transform: translateY(0);
}
.desc-title.visible.visible .txt-s {
  transition-delay: 0.2s;
}
.desc-title.visible.visible .txt-m {
  transition-delay: 0.4s;
}
.desc-title.visible.visible .txt-l {
  transition-delay: 0.6s;
}
.desc-title .txt-s {
  display: inline-block;
  line-height: 1;
  font-size: 1.55rem;
  font-weight: 300;
  margin-right: 4rem;
}
@media (min-width: 600px) {
  .desc-title .txt-s {
    font-size: 1.6rem;
  }
}
.desc-title .txt-m {
  display: inline;
}
.desc-title .txt-m,
.desc-title .txt-l {
  font-size: 4vw;
  font-weight: 300;
  line-height: 1.55;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .desc-title .txt-m,
  .desc-title .txt-l {
    font-size: 4.075rem;
  }
}
@media (max-width: 599px) {
  .desc-title .txt-m,
  .desc-title .txt-l {
    font-size: 3rem;
  }
}

.product {
  grid-row-gap: 60px;
  flex-direction: column;
  flex: none;
  align-items: center;
  display: flex;
}
.product .inner {
  margin: 86px 0;
}
.product .inner .prd-container {
  z-index: 20;
  position: relative;
}
.product .inner .prd-container .items {
  margin-bottom: 80px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  justify-items: center;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .product .inner .prd-container .items {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}
@media (max-width: 599px) {
  .product .inner .prd-container .items {
    grid-template-columns: 1fr 1fr !important;
  }
}
.product .inner .prd-container .items .item-box {
  width: 100%;
  height: 100%;
  transition-duration: 0.1s;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  will-change: opacity, transform;
  background-color: rgba(255, 255, 255, 0.12);
  transition-delay: var(--delay, 0s);
}
.product .inner .prd-container .items .item-box.motion-visible {
  opacity: 1;
  transform: translateY(0);
}
.product .inner .prd-container .items .item-box.motion-visible[data-delay] {
  transition-delay: var(--delay, 0s);
}
.product .inner .prd-container .items .item-box .item-list__link {
  width: 100%;
  z-index: 1;
  /* background-color: var(--box); */
  opacity: 1;
  transform: scale3d(1none, 1none, 1none);
  transform-style: preserve-3d;
  border: 1px #000;
  border-radius: 4px;
  width: 100%;
  padding-top: 149%;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: block;
  position: relative;
  overflow: hidden;
}
.product .inner .prd-container .items .item-box .item-list__link .item_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 1;
  transform: scale3d(1none, 1none, 1none);
  transform-style: preserve-3d;
  max-width: 101%;
  transition: opacity 0.3s, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: block;
}

.item-btn-container {
  width: 100%;
  display: flex;
  gap: 20px;
}

.item-btn {
  margin: 0 auto;
  width: 168px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-white);
  background-color: var(--background-color-gray);
  border-radius: 50px;
  gap: 10px;
  font-size: 1.4rem;
}
.item-btn img {
  width: 14px;
  margin: -2px auto;
}

.cocovid-container {
  position: relative;
  height: 67.3rem;
}
@media (min-width: 600px) {
  .cocovid-container {
    margin: 0 30px;
  }
}

.cocovid .vid-playcircle {
  z-index: 3;
  width: 80px;
  height: 80px;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(219, 219, 219, 0.2509803922);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cocovid .vid-playcircle:hover {
  width: 13rem;
  height: 13rem;
  background: #fff;
}
.cocovid .vid-playcircle .vid-playbtn {
  position: absolute;
  width: 16px;
  height: 18px;
}
.cocovid .cocovid-boxvid {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media (min-width: 600px) {
  .cocovid .cocovid-boxvid {
    border-radius: 20px;
  }
}

.cocovid__control-wrapper {
  z-index: 2;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 30px 30px auto auto;
}
.cocovid__control-wrapper.sound-on .audio-off {
  display: block;
}
.cocovid__control-wrapper.sound-on .audio-on {
  display: none;
}
.cocovid__control-wrapper .audio-off {
  display: none;
}
.cocovid__control-wrapper .cocovid__audio-toggle {
  width: 70px;
  height: 70px;
  margin-top: 0;
  margin-right: 0;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(219, 219, 219, 0.2509803922);
}
.cocovid__control-wrapper .cocovid__audio-toggle:hover {
  width: 50px;
  height: 50px;
  background-color: #fff;
  margin: -5px;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .cocovid__control-wrapper .cocovid__audio-toggle {
    width: 7rem;
    height: 7rem;
  }
  .cocovid__control-wrapper .cocovid__audio-toggle:hover {
    width: 8rem;
    height: 8rem;
    margin: -5px;
  }
}
@media (min-width: 1024px) {
  .cocovid__control-wrapper .cocovid__audio-toggle {
    width: 7rem;
    height: 7rem;
  }
  .cocovid__control-wrapper .cocovid__audio-toggle:hover {
    width: 8rem;
    height: 8rem;
    margin: -5px;
  }
}
@media (max-width: 599px) {
  .cocovid__control-wrapper .cocovid__audio-toggle {
    width: 4rem;
    height: 4rem;
  }
}
.cocovid__control-wrapper .cocovid-audio-icon {
  z-index: 3;
  opacity: 1;
  transform: scale3d(1none, 1none, 1none);
  transform-style: preserve-3d;
  width: 25px;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  position: absolute;
}

.slide-container {
  position: relative;
  margin-top: 270px;
}
.slide-container .slide {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  height: 700px;
}
@media (min-width: 1024px) {
  .slide-container .slide {
    height: 750px;
  }
}
.slide-container .slide .swiper {
  width: 100%;
  height: 100%;
}
.slide-container .slide .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.slide-container .slide .swiper .swiper-slide .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.slide-container .slide .swiper .swiper-pagination {
  width: 100%;
  margin-bottom: 150px;
}
@media (min-width: 1024px) {
  .slide-container .slide .swiper .swiper-pagination {
    margin-bottom: 200px;
  }
}
.slide-container .slide .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 0.2);
}
.slide-container .slide .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 103px;
  height: 2px;
  border-radius: 10px;
  background-color: white;
  border-radius: 0;
}

.category-container {
  margin-top: 150px;
  grid-row-gap: 60px;
  flex-direction: column;
  flex: none;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: relative;
}
.category-container .ctg-tit {
  margin: 0 0 20px 0;
  width: 264px;
  color: var(--font-color-white);
  font-size: 2.5rem;
  line-height: 3.125rem;
}
.category-container .ctg-menu {
  display: grid;
  flex-wrap: wrap;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-items: center;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .category-container .ctg-menu {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}
@media (max-width: 599px) {
  .category-container .ctg-menu {
    grid-template-columns: 1fr 1fr !important;
  }
}
.category-container .ctg-menu .ctg-menu__box {
  width: 100%;
  height: 111px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  transform: translateY(0%) scale(1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-duration: 1s;
  opacity: 0;
  transform: translateY(90px);
  transition: opacity 0.5s ease, transform 0.8s ease;
  will-change: opacity, transform;
  transition-delay: var(--delay, 0s);
}
.category-container .ctg-menu .ctg-menu__box.motion-visible {
  opacity: 1;
  transform: translateY(0);
}
.category-container .ctg-menu .ctg-menu__box.motion-visible[data-delay] {
  transition-delay: var(--delay, 0s);
}
.category-container .ctg-menu .ctg-menu__box a {
  display: block;
  overflow: hidden;
  border-radius: 4px;
}
.category-container .ctg-menu .ctg-menu__box a:hover img {
  transform: scale(1.1);
  border-radius: 8px;
  transition: opacity 0.3s, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.category-container .ctg-menu .ctg-menu__box a img {
  width: 100%;
  height: auto;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
  color: white;
  overflow: hidden;
}
.category-container .ctg-menu .ctg-menu__box a .ctg-menu__bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
.category-container .ctg-menu .ctg-menu__box p {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: var(--font-color-white);
  font-weight: 400;
  font-size: 1.7rem;
}

.acc-detail {
  margin: 76px 20px 0 20px;
}
.acc-detail .acc-detail__topimg > img {
  margin-left: 50px;
}
.acc-detail .acc-detail__bottom {
  display: flex;
}
.acc-detail .acc-detail__bottom .acc-detail__txt {
  color: var(--font-color-white);
  max-width: 798px;
  font-size: 17px;
  line-height: 32px;
  font-weight: 500;
}
.acc-detail .acc-detail__bottom img {
  width: 166px;
  height: auto;
  border-radius: 14px;
  margin: 0 0 0 17px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .mod__layout {
    margin: 0 30px;
  }
}

.mod-section {
  position: relative;
  background-color: #f4f4f4;
  color: white;
  border-radius: 16px;
  width: 100%;
  height: auto;
  max-height: none;
  display: block;
  overflow: hidden;
}
.mod-section .tvid__cursor-container {
  z-index: 3;
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
}
@media (min-width: 1024px) {
  .mod-section .tvid__cursor-container {
    width: 50%;
  }
}
.mod-section .tvid__cursor-container .mod-playcircle {
  background-color: blue;
  z-index: 3;
  width: 80px;
  height: 80px;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(219, 219, 219, 0.2509803922);
}
.mod-section .tvid__cursor-container .mod-playcircle:hover {
  width: 13rem;
  height: 13rem;
  background: #fff;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .mod-section .tvid__cursor-container .mod-playcircle {
    width: 8rem;
    height: 8rem;
    transform: scale(1);
  }
}
.mod-section .tvid__cursor-container .mod-playcircle .mod-playbtn {
  width: 16px;
  height: 18px;
}
.mod-section .tvid__video-container {
  background-color: #f4f4f4;
  position: relative;
  width: 100%;
  height: 550px;
}

.tvid__video__item {
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 2;
}
.tvid__video__item .tvid__video__embed {
  z-index: -1;
  width: 100%;
  height: 100%;
  inset: 0 -400%;
}
.tvid__video__item .tvid__video__embed .mod-vid {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}
.tvid__video__item .iframe-overlay {
  z-index: 10;
  transform-style: preserve-3d;
  flex: none;
  display: block;
  position: absolute;
  inset: 0%;
  transform: scaleZ(1.001);
}
.tvid__video__item .iframe-overlay .tvid__gradient {
  z-index: 15;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #1f1f1f);
  height: 55%;
  position: absolute;
  inset: auto 0% 0%;
  margin-bottom: 4px;
}
.tvid__video__item .tvid__heading-container {
  z-index: 20;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 41px;
  display: flex;
  position: absolute;
  margin-bottom: 0;
  bottom: 0;
}
@media (min-width: 1024px) {
  .tvid__video__item .tvid__heading-container {
    transform: translate(0, -20%);
  }
}
.tvid__video__item .tvid__heading-container .tvid__video__wrapper {
  position: absolute;
  inset: 0%;
}
.tvid__video__item .tvid__heading-container .tvid__heading {
  flex-direction: column;
  flex: none;
  align-items: flex-start;
  width: 100%;
  max-width: 550px;
  display: flex;
}
.tvid__video__item .tvid__heading-container .tvid__heading .tvid__main-heading {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 1.6;
}
@media (min-width: 1024px) {
  .tvid__video__item .tvid__heading-container .tvid__heading .tvid__main-heading {
    font-size: 45px;
    line-height: 1.1;
  }
}
.tvid__video__item .tvid__heading-container .tvid__heading .tvid__text-block {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: #fff;
  flex-wrap: wrap;
  flex: none;
  align-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 18px;
  display: flex;
}
@media (min-width: 1024px) {
  .tvid__video__item .tvid__heading-container .tvid__heading .tvid__text-block {
    font-size: 25px;
  }
}
.tvid__video__item .tvid__heading-container .tvid__heading .tvid__text-block .mod-desc {
  opacity: 40%;
  margin-left: 10px;
}

.tvid__nav__section {
  display: flex;
  align-items: center;
  padding: 40px 0;
  background: #1f1f1f;
  position: relative;
  inset: auto 0% 0;
  overflow: auto;
  scrollbar-width: none;
}
.tvid__nav__section .tvid__nav__container {
  width: 100%;
  flex: none;
  width: auto;
  max-width: none;
  margin-left: 0;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  margin-right: auto;
}

.tvid__nav__item {
  opacity: 1;
  width: 255px;
  cursor: pointer;
  padding: 15px 30px 15px 24px;
  border-radius: 16px;
  -index: 1050;
  inset: auto 0% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.tvid__nav__item:hover {
  background-color: rgba(99, 99, 99, 0.25);
}
.tvid__nav__item:hover .tvid__nav__img {
  outline: 1px solid white;
  outline-offset: 6px;
  transition: all 0.1s;
}
.tvid__nav__item .tvid__nav__img-container {
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  margin-right: 10px;
  padding: 6px;
  display: flex;
  position: relative;
}
.tvid__nav__item .tvid__nav__img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.tvid__nav__item .tvid__nav__text-container {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.tvid__nav__item .tvid__nav__text-container .tvid__nav__function {
  opacity: 0.2;
}

.tvid__control-wrapper {
  z-index: 4;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  align-items: center;
  display: none;
  position: absolute;
  inset: 30px 30px auto auto;
}
.tvid__control-wrapper.sound-on {
  display: flex;
}
.tvid__control-wrapper.sound-on .audio-off {
  display: block;
}
.tvid__control-wrapper.sound-on .audio-on {
  display: none;
}
.tvid__control-wrapper .audio-off {
  display: none;
}
.tvid__control-wrapper .modvid-audio__toggle {
  width: 70px;
  height: 70px;
  margin-top: 0;
  margin-right: 0;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(219, 219, 219, 0.2509803922);
}
.tvid__control-wrapper .modvid-audio__toggle:hover {
  width: 50px;
  height: 50px;
  background-color: #fff;
  margin: -5px;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .tvid__control-wrapper .modvid-audio__toggle {
    width: 7rem;
    height: 7rem;
  }
  .tvid__control-wrapper .modvid-audio__toggle:hover {
    width: 8rem;
    height: 8rem;
    margin: -5px;
  }
}
@media (min-width: 1024px) {
  .tvid__control-wrapper .modvid-audio__toggle {
    width: 7rem;
    height: 7rem;
  }
  .tvid__control-wrapper .modvid-audio__toggle:hover {
    width: 8rem;
    height: 8rem;
    margin: -5px;
  }
}
@media (max-width: 599px) {
  .tvid__control-wrapper .modvid-audio__toggle {
    width: 4rem;
    height: 4rem;
  }
}
.tvid__control-wrapper .modvid-audio__icon {
  z-index: 3;
  opacity: 1;
  transform: scale3d(1none, 1none, 1none);
  transform-style: preserve-3d;
  width: 25px;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  position: absolute;
}

#footer {
  margin: 113px 0 84px 0;
  border-top: 1px solid #333;
  width: 100%;
  overflow: hidden;
}
#footer .footer-top {
  margin: 24px 20px;
  display: flex;
  justify-content: space-between;
  color: var(--font-color-white);
}
#footer .footer-top .top-txt {
  color: var(--font-lightgray-color);
  font-size: 14px;
}
#footer .footer-top .sns {
  display: flex;
  gap: 15px;
}
#footer .footer-buttom {
  display: flex;
}
#footer .footer-buttom .buttom-tit {
  color: #fff;
  font-size: 12.9rem;
  font-weight: 700;
  white-space: nowrap;
  animation: buttom-tit 10s linear infinite;
}
@keyframes buttom-tit {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}/*# sourceMappingURL=styles.css.map */