.main {
    overflow: hidden;
    width: 100%;
    height: 690px;
    flex-shrink: 0;
    position: relative;

    .main-img {
        position: relative;
    }
    .main-img img {
        width: 100%;
        height: 690px;
        object-fit: cover;
        background-position: center;
        background-size: cover;
    }
    .main-img::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        background: linear-gradient(180deg, rgb(103 103 103 / 4%), rgb(201 196 196 / 3%), #000 95.89%);
    }

    .mercury {
        position: absolute;
        top: 70%;
        display: flex;
    }
    .m-tit {
        font-size: 12.9rem;
        font-family: chanel;
        color: white;
        white-space: nowrap;
        // overflow: hidden;
        animation: m-tit 10s linear infinite;
        @keyframes m-tit {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-100%);
            }
        }
    }
}

//DESC
.desc-title {
    padding: 0 20px;
    margin: 10px 0 0 0;
    color: var(--font-color-white);

    overflow: hidden;
    .txt-s,
    .txt-m,
    .txt-l {
        opacity: 0; // 초기에는 보이지 않음
        transform: translateY(10px); // 아래에서 시작
        transition: transform 0.8s ease, opacity 0.7s ease;
    }
    &.visible {
        .txt-s,
        .txt-m,
        .txt-l {
            opacity: 1; // 나타남
            transform: translateY(0); // 제자리로 올라옴
        }
        &.visible .txt-s {
            transition-delay: 0.2s;
        }
        &.visible .txt-m {
            transition-delay: 0.4s;
        }
        &.visible .txt-l {
            transition-delay: 0.6s;
        }
    }
    .txt-s {
        display: inline-block;
        line-height: 1;
        font-size: 1.55rem;
        font-weight: 300;
        margin-right: 4rem;
        @include mobileMore {
            font-size: 1.6rem;
        }
    }
    .txt-m {
        display: inline;
    }
    .txt-m,
    .txt-l {
        font-size: 4vw;
        font-weight: 300;
        line-height: 1.55;
        @include tablet {
            font-size: 4.075rem;
        }
        @include mobile {
            font-size: 3rem;
        }
    }
}
//PRODUCT

// .product {
//   grid-row-gap: 60px;
//   flex-direction: column;
//   flex: none;
//   justify-content: flex-start;
//   align-items: stretch;
//   display: flex;
//   .inner {
//     @include mobile;
//     margin: 86px 0;
//     .prd-container {
//       z-index: 20;
//       position: relative;
//       .items {
//         margin-bottom: 80px;
//         grid-column-gap: 16px;
//         grid-row-gap: 16px;
//         flex-wrap: wrap;
//         grid-template-rows: auto;
//         grid-template-columns: 1fr 1fr 1fr 1fr;
//         grid-auto-columns: 1fr;
//         display: grid;
//         justify-items: center; //이거 지우면 사진 나오고 생성하면 사진 사라짐

//         overflow-x: hidden;

//         top: 0;
//         left: 0;
//         position: absolute;
//         display: block;

//         .item-box {
//           width: 100%;
//           height: 100%;
//           transform: translateY(20px);
//           transition: opacity 0.06s ease, transform 0.6s ease;
//           opacity: 0;
//           background-color: rgba(255, 255, 255, 0.12);
//           transform: scale3d(1none, 1none, 1none);
//           transform-style: preserve-3d;
//           max-width: 101%;
//           transition: opacity 0.3s, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

//           @include position-center;
//           overflow: hidden;
//           width: 800px;
//           min-height: 600px;
//           &-box {
//             padding: 1rem;
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             width: 100%;
//             height: 100%;
//             transform: translate(-50%, -50%);
//             overflow: hidden;
//           }
//           &.animation {
//             opacity: 1;
//             transform: translateY(0);
//           }

//           .item-list__link {
//             width: 100%;
//             z-index: 1;
//             /* background-color: var(--box); */
//             opacity: 1;
//             transform: scale3d(1none, 1none, 1none);
//             transform-style: preserve-3d;
//             border: 1px #000;
//             border-radius: 4px;
//             width: 100%;
//             padding-top: 149%;
//             transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
//             display: block;
//             position: relative;
//             overflow: hidden;
//             .item_img {
//               object-fit: cover;
//               width: 100%;
//               height: 100%;
//               position: absolute;
//               inset: 0%;
//               object-fit: contain;
//               opacity: 1;

//               display: block;
//             }
//           }
//         }
//         // .page-loaded {
//         //   transform: translateY(0%) scale(1);
//         //   transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
//         //   transition-duration: 1s;
//         //   opacity: 1;
//         // }
//       }
//     }
//   }
// }
.product {
    grid-row-gap: 60px;
    flex-direction: column;
    flex: none;
    align-items: center;
    display: flex;
    .inner {
        margin: 86px 0;
        .prd-container {
            z-index: 20;
            position: relative;
            .items {
                margin-bottom: 80px;
                grid-column-gap: 16px;
                grid-row-gap: 16px;
                flex-wrap: wrap;
                grid-template-rows: auto;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-auto-columns: 1fr;
                display: grid;
                justify-items: center; //이거 지우면 사진 나오고 생성하면 사진 사라짐
                @include tablet {
                    grid-template-columns: 1fr 1fr 1fr !important;
                }
                @include mobile {
                    grid-template-columns: 1fr 1fr !important;
                }

                .item-box {
                    width: 100%;
                    height: 100%;
                    transition-duration: 0.1s;
                    opacity: 0;
                    transform: translateY(50px); // 아래에서 시작
                    transition: opacity 0.8s ease, transform 0.8s ease; // 모션 효과
                    will-change: opacity, transform; // 성능 최적화
                    background-color: rgba(255, 255, 255, 0.12);
                    transition-delay: var(--delay, 0s);
                    &.motion-visible {
                        opacity: 1; // 보이게
                        transform: translateY(0); // 원래 위치로 이동
                    }

                    &.motion-visible[data-delay] {
                        transition-delay: var(--delay, 0s); // 딜레이 값 설정
                    }
                    .item-list__link {
                        width: 100%;
                        z-index: 1;
                        /* background-color: var(--box); */
                        opacity: 1;
                        transform: scale3d(1none, 1none, 1none);
                        transform-style: preserve-3d;
                        border: 1px #000;
                        border-radius: 4px;
                        width: 100%;
                        padding-top: 149%;
                        transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
                        display: block;
                        position: relative;
                        overflow: hidden;
                        .item_img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            inset: 0%;
                            object-fit: contain;
                            opacity: 1;
                            transform: scale3d(1none, 1none, 1none);
                            transform-style: preserve-3d;
                            max-width: 101%;
                            transition: opacity 0.3s, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.item-btn-container {
    width: 100%;
    display: flex;
    gap: 20px;
    // position: absolute;
}
.item-btn {
    margin: 0 auto;
    width: 168px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color-white);
    background-color: var(--background-color-gray);
    border-radius: 50px;
    gap: 10px;
    font-size: 1.4rem;
    img {
        width: 14px;
        margin: -2px auto;
    }
}

.cocovid-container {
    position: relative;
    height: 67.3rem;
    @include mobileMore {
        margin: 0 30px;
    }
}

.cocovid {
    // position: relative;
    .vid-playcircle {
        z-index: 3;
        width: 80px;
        height: 80px;
        transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
        @include playbtn;
        @include position-center;

        @include posXY;
        &:hover {
            width: 13rem;
            height: 13rem;
            background: $white;
        }

        .vid-playbtn {
            position: absolute;
            width: 16px;
            height: 18px;
        }
    }
    .cocovid-boxvid {
        width: 100%;
        height: 700px;
        object-fit: cover;
        position: absolute;
        @include mobileMore {
            border-radius: 20px;
        }
    }
}

.cocovid__control-wrapper {
    z-index: 2;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-direction: row;
    flex: none;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    position: absolute;
    inset: 30px 30px auto auto;
    &.sound-on {
        .audio-off {
            display: block;
        }
        .audio-on {
            display: none;
        }
    }
    .audio-off {
        display: none;
    }
    .cocovid__audio-toggle {
        width: 70px;
        height: 70px;
        margin-top: 0;
        margin-right: 0;
        transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
        // transform: scale(0.5);
        @include playbtn;

        &:hover {
            width: 50px;
            height: 50px;
            background-color: $white;
            margin: -5px;
        }
        @include tablet {
            &:hover {
                width: 8rem;
                height: 8rem;
                margin: -5px;
            }
            width: 7rem;
            height: 7rem;
        }
        @include tabletMore {
            &:hover {
                width: 8rem;
                height: 8rem;
                margin: -5px;
            }
            width: 7rem;
            height: 7rem;
        }

        @include mobile {
            width: 4rem;
            height: 4rem;
        }
    }
    .cocovid-audio-icon {
        z-index: 3;
        opacity: 1;
        transform: scale3d(1none, 1none, 1none);
        transform-style: preserve-3d;
        width: 25px;
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        position: absolute;
    }
}

// section4
.slide-container {
    position: relative;
    margin-top: 270px;

    .slide {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
        height: 650px;
        @include tabletMore {
            height: 850px;
        }

        .swiper {
            width: 100%;
            height: 100%;
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                // overflow: visible;
                img {
                    width: 100%;
                    height: 100%;
                    flex-shrink: 0;
                    object-fit: cover;
                    position: relative;
                }
                .add-txt {
                    width: 100%;
                    height: 100%;
                    font-size: 120px;
                    font-weight: 500;
                    color: white;
                    position: absolute;
                    top: 356px;
                    left: 0;
                    z-index: 3;
                    transform: translate(5%, 55%);
                    text-wrap: nowrap;
                    animation: add-txt 10s linear infinite;
                    @keyframes add-txt {
                        0% {
                            transform: translateX(0);
                        }
                        100% {
                            transform: translateX(-80%);
                        }
                    }
                }
            }
            .swiper-pagination {
                width: 100%;
                margin-bottom: 100px;
                pointer-events: auto;
                display: flex; /* 플렉스 레이아웃 활성화 */
                justify-content: center; /* 가운데 정렬 */
                flex-wrap: nowrap; /* 줄 바꿈 방지 */
                @include mobile {
                    margin-bottom: 100px;
                }
                .swiper-pagination-bullet-active {
                    background: rgba(255, 255, 255, 0.2);
                }
                .swiper-pagination-bullet {
                    width: 190px;
                    height: 2px;
                    border-radius: 10px;
                    background-color: white;
                    border-radius: 0;
                }
            }
        }
    }
}
.swiper-slide::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.04), rgb(201 196 196 / 3%), #000 98.89%);
}

// section5
.category-container {
    margin-top: 150px;
    // width: 100%;
    // height: 200vh;
    // display: block;
    grid-row-gap: 60px;
    flex-direction: column;
    flex: none;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
    position: relative;
    .ctg-tit {
        margin: 0 0 20px 0;
        width: 264px;
        color: var(--font-color-white);
        font-size: 2.5rem;
        line-height: 3.125rem;
    }
    .ctg-menu {
        // margin: 0 auto;
        display: grid;
        flex-wrap: wrap;
        // justify-content: space-between;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        justify-items: center;
        @include tablet {
            grid-template-columns: 1fr 1fr 1fr !important;
        }
        @include mobile {
            grid-template-columns: 1fr 1fr !important;
        }
        .ctg-menu__box {
            width: 100%;
            height: 111px;
            overflow: hidden;
            position: relative;
            border-radius: 4px;

            transform: translateY(0%) scale(1);
            transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            transition-duration: 1s;
            opacity: 0;
            transform: translateY(90px); // 아래에서 시작
            transition: opacity 0.5s ease, transform 0.8s ease; // 모션 효과
            will-change: opacity, transform; // 성능 최적화
            transition-delay: var(--delay, 0s);
            &.motion-visible {
                opacity: 1; // 보이게
                transform: translateY(0); // 원래 위치로 이동
            }

            &.motion-visible[data-delay] {
                transition-delay: var(--delay, 0s); // 딜레이 값 설정
            }
            a {
                display: block;
                overflow: hidden; // 둥근 모서리를 위한 자르기
                border-radius: 4px; // a 태그 자체도 동일한 border-radius
                &:hover img {
                    transform: scale(1.1);
                    border-radius: 8px; // hover 상태에서 변경할 둥근 값
                    transition: opacity 0.3s, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
                }
                img {
                    width: 100%;
                    height: auto;
                    object-fit: fill;
                    object-position: 50% 20%;
                    color: white;
                    overflow: hidden;
                }
                .ctg-menu__bg {
                    width: 100%;
                    height: 100%;
                    // background-color: #000;
                    // opacity: 50%;
                    background-color: $background-translate-90;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    overflow: hidden;
                }
            }

            p {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                text-transform: uppercase;
                @include flexCenter;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                color: var(--font-color-white);
                font-weight: $font-normal;
                font-size: $font-size-base;
            }
        }
    }
}

// SECTION6

.acc-detail {
    margin: 76px 20px 0 20px;

    .acc-detail__topimg > img {
        margin-left: 50px;
    }
    .acc-detail__bottom {
        display: flex;
        .acc-detail__txt {
            color: var(--font-color-white);
            max-width: 798px;
            font-size: 17px;
            line-height: 32px;
            font-weight: 500;
        }
        img {
            width: 166px;
            height: auto;
            border-radius: 14px;
            margin: 0 0 0 17px;
            object-fit: cover;
        }
    }
}
//
// tvid__section test
.mod__layout {
    @include tablet {
        margin: 0 30px;
    }
}
.mod-section {
    position: relative;
    background-color: #f4f4f4;
    color: white;
    border-radius: 16px;
    width: 100%;
    height: auto;
    max-height: none;
    display: block;
    overflow: hidden;

    .tvid__cursor-container {
        z-index: 3;
        flex-direction: column;
        flex: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70vh;
        display: flex;
        position: absolute;
        top: 0%;
        bottom: 0%;
        right: 0%;
        // @include tablet {
        //   margin: auto;
        //   width: 50%;
        // }
        @include tabletMore {
            width: 50%;
        }
        .mod-playcircle {
            background-color: blue;
            z-index: 3;
            width: 80px;
            height: 80px;
            transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
            @include playbtn;
            // @include positon-center;
            &:hover {
                width: 13rem;
                height: 13rem;
                background: $white;
            }
            @include tablet {
                width: 8rem;
                height: 8rem;
                transform: scale(1);
            }
            .mod-playbtn {
                width: 16px;
                height: 18px;
            }
        }
    }

    .tvid__video-container {
        background-color: #f4f4f4;
        position: relative;
        width: 100%;
        height: 550px;
    }
}
.tvid__video__item {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 2;
    .tvid__video__embed {
        z-index: -1;
        width: 100%;
        height: 100%;
        // position: absolute;
        inset: 0 -400%;
        .mod-vid {
            width: 100%;
            height: 550px;
            object-fit: cover;
        }
    }
    .iframe-overlay {
        z-index: 10;
        transform-style: preserve-3d;
        flex: none;
        display: block;
        position: absolute;
        inset: 0%;
        transform: scaleZ(1.001);
        .tvid__gradient {
            z-index: 15;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #1f1f1f);
            height: 55%;
            position: absolute;
            inset: auto 0% 0%;
            margin-bottom: 4px;
        }
    }
    .tvid__heading-container {
        z-index: 20;
        width: 100%;
        // height: 100vh;
        max-width: 1800px;
        margin: 0 auto;
        padding: 0 41px;
        display: flex;
        position: absolute;
        margin-bottom: 0;
        bottom: 0;
        @include tabletMore {
            transform: translate(0, -20%);
        }

        .tvid__video__wrapper {
            position: absolute;
            inset: 0%;
        }
        .tvid__heading {
            flex-direction: column;
            flex: none;
            align-items: flex-start;
            width: 100%;
            max-width: 550px;
            display: flex;

            .tvid__main-heading {
                margin-top: 0;
                margin-bottom: 14px;
                font-size: 24px;
                line-height: 1.6;
                @include tabletMore {
                    font-size: 45px;
                    line-height: 1.1;
                }
            }
            .tvid__text-block {
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                color: $white;
                flex-wrap: wrap;
                flex: none;
                align-content: flex-start;
                align-items: center;
                width: 100%;
                font-size: 18px;
                display: flex;
                @include tabletMore {
                    font-size: 25px;
                }

                .mod-desc {
                    opacity: 40%;
                    margin-left: 10px;
                }
            }
        }
    }
}
.tvid__nav__section {
    display: flex;
    align-items: center;
    padding: 40px 0;
    background: #1f1f1f;
    position: relative;
    inset: auto 0% 0;
    overflow: auto;
    scrollbar-width: none;
    .tvid__nav__container {
        width: 100%;
        flex: none;
        width: auto;
        max-width: none;
        margin-left: 0;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        margin-right: auto;
    }
}

.tvid__nav__item {
    opacity: 1;
    width: 255px;
    // backdrop-filter: brightness(150%) blur(30px);
    // background-color: rgba(99, 99, 99, 0.25);
    cursor: pointer;
    padding: 15px 30px 15px 24px;
    border-radius: 16px;
    -index: 1050;
    inset: auto 0% 0;
    @include flexCenter;
    transition: all 0.2s;
    &:hover {
        background-color: rgba(99, 99, 99, 0.25);
        .tvid__nav__img {
            outline: 1px solid white; // 흰색 외곽선
            outline-offset: 6px; // 이미지에서 6px 떨어진 위치
            transition: all 0.1s;
        }
    }
    .tvid__nav__img-container {
        justify-content: center;
        align-items: center;
        width: 62px;
        height: 62px;
        margin-right: 10px;
        padding: 6px;
        display: flex;
        position: relative;
    }
    .tvid__nav__img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-right: 15px;
        object-fit: cover;
        // padding: 6px;
    }
    .tvid__nav__text-container {
        color: #fff;
        font-size: 14px;
        font-weight: $font-normal;
        .tvid__nav__function {
            opacity: 0.2;
        }
    }
}
.tvid__control-wrapper {
    z-index: 4;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-direction: row;
    flex: none;
    justify-content: flex-end;
    align-items: center;
    // display: flex;
    display: none;
    position: absolute;
    inset: 30px 30px auto auto;
    &.sound-on {
        display: flex;
        .audio-off {
            display: block;
        }
        .audio-on {
            display: none;
        }
    }
    .audio-off {
        display: none;
    }
    .modvid-audio__toggle {
        width: 70px;
        height: 70px;
        margin-top: 0;
        margin-right: 0;
        transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
        @include playbtn;

        &:hover {
            width: 50px;
            height: 50px;
            background-color: $white;
            margin: -5px;
        }
        @include tablet {
            &:hover {
                width: 8rem;
                height: 8rem;
                margin: -5px;
            }
            width: 7rem;
            height: 7rem;
        }
        @include tabletMore {
            &:hover {
                width: 8rem;
                height: 8rem;
                margin: -5px;
            }
            width: 7rem;
            height: 7rem;
        }
        @include mobile {
            width: 4rem;
            height: 4rem;
        }
    }
    .modvid-audio__icon {
        z-index: 3;
        opacity: 1;
        transform: scale3d(1none, 1none, 1none);
        transform-style: preserve-3d;
        width: 25px;
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        position: absolute;
    }
}

#footer {
    margin: 113px 0 84px 0;
    border-top: 1px solid #333;
    width: 100%;
    overflow: hidden;
    .footer-top {
        margin: 24px 20px;
        display: flex;
        justify-content: space-between;
        color: var(--font-color-white);
        .top-txt {
            color: var(--font-lightgray-color);
            font-size: 14px;
        }
        .sns {
            display: flex;
            gap: 15px;
        }
    }
    .footer-buttom {
        display: flex;
        .buttom-tit {
            color: $white;
            font-size: 12.9rem;
            font-weight: $font-bold;
            white-space: nowrap;
            animation: buttom-tit 10s linear infinite;

            @keyframes buttom-tit {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(-100%);
                }
            }
        }
    }
}
